body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #212121;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.logo-web {
  color: #2196f3;
}

.adress-list {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .adress-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .adress-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .adress-list .item + .item {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .adress-list .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.mail-tele {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mail-tele:hover, .mail-tele:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .mail-tele {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.adress-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 93px;
  }
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-current {
    color: #2196f3;
  }
  .nav-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.burger-cross {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  fill: #212121;
}

.burger-cross:hover, .burger-cross:focus {
  fill: #2196f3;
}

.burger-cross .burger-cross .icon-cross {
  display: none;
}

.burger-cross .burger-cross.is-open .icon-cross {
  display: block;
}

.burger-cross .burger-cross.is-open .icon-burger {
  display: none;
}

@media screen and (min-width: 768px) {
  .burger-cross {
    display: none;
  }
}

.phone-menu {
  display: none;
}

.phone-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .phone-menu.is-open {
    margin-bottom: 302px;
    padding-top: 48px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 48px 83px 47px 40px;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .phone-menu.is-open {
    display: none;
  }
}

.menu-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu-link:not(:last-child) {
  margin-bottom: 32px;
}

.menu-link:hover, .menu-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-adress {
  margin-bottom: 63px;
}

.item-menu:not(:last-child) {
  margin-bottom: 32px;
}

.menu-tele {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-email {
  text-decoration: none;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-social {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.menu-social .item:not(:first-child) {
  padding-left: 10px;
}

.menu-social .item:not(:last-child) {
  padding-right: 10px;
}

.menu-social .item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background-color: #c4c4c4;
  text-align: center;
}

.hero h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/logo-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/logo-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/hero/logo-480@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: url(../images/hero/logo-768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/hero/logo-768@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: url(../images/hero/logo-1200.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/hero/logo-1200@2x.jpg);
  }
}

.hero-button {
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.dignity {
  padding-top: 60px;
  padding-bottom: 60px;
}

.dignity h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .dignity h3 {
    text-align: left;
  }
}

.dignity-icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .dignity-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .dignity-list .item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .dignity-list .item {
    width: 270px;
  }
}

.dignity-par {
  color: #757575;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0px;
}

.dignity-par :not(:last-child) {
  margin-bottom: 30px;
}

.icon-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.occupation {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

.occupation h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.occupation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.occupation-list .item:not(:last-child) {
  margin-right: 30px;
}

.occupation-list .item {
  position: relative;
}

.occupation-list img {
  display: block;
}

.occupation-overlay {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.occupation-overlay p {
  margin: 0;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team h2 {
    font-size: 36px;
    line-height: 1.17;
  }
}

.team h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-img {
  width: 100%;
}

.team-list .item {
  display: block;
  padding-bottom: 24px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-list.item:not(:last-child) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .team-list .item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list .item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.team-par {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-icon:hover {
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .client h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.client-list .item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .client-list .item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list .item {
    width: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}

.client-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.client-link:hover, .client-link:focus {
  border-color: #2196f3;
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

.footer-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 479px) {
  .footer-conteiner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .footer-conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .adress-logo {
    margin-right: 70px;
  }
}

.footer-logo {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  color: #ffffff;
}

.footer-address {
  margin-bottom: 60px;
  font-style: normal;
  line-height: 1.71;
}

.footer-address .item {
  display: block;
}

.footer-address .item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-link {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover, .footer-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.street {
  color: #ffffff;
}

.footer-social {
  margin-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer-item:not(:last-child) {
  margin-right: 10px;
}

.join-paragraph {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.86;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: #ffffff;
}

.subscribe-input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 358px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    margin-bottom: 0;
  }
}

.subscribe-input:focus {
  outline: none;
}

.subscribe-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 20px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-link .item {
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .portfolio-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .portfolio-link .item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-link .item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.portfolio-link a {
  margin: 0;
  text-decoration: none;
}

.portfolio-link h2 {
  margin: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item {
  padding: 20px 24px;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-item p {
  margin: 0;
}

.portfolio-button {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio-card {
  display: block;
}

.portfolio-link img {
  display: block;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text {
  position: absolute;
  padding: 24px 63px;
}

.portfolio-card:hover,
.portfolio-card:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .card-overlay,
.portfolio-card:hover .card-overlay,
.portfolio-card:focus .card-overlay,
.portfolio-card:focus .card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 30px;
  height: 30px;
  color: #212121;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  padding: 40px 40px 0 40px;
}

.modal-form {
  width: 370px;
  margin: 0 auto;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-label {
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-input:focus {
  outline: none;
  border-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.input-section {
  position: relative;
  color: #212121;
}

.textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.checkbox-button {
  text-align: center;
}

.modal-checkbox {
  position: relative;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.hidden-checkbox:checked ~ .checkbox-icon {
  border-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
  margin-left: 24px;
  font-size: 12px;
  line-height: 1.17;
}

.contract {
  color: #2196f3;
  text-decoration-skip-ink: none;
}

.textarea-input {
  padding: 12px 16px;
  height: 138px;
  resize: none;
}

.textarea::-webkit-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
/*# sourceMappingURL=main.css.map */