.dignity {
  padding-top: 60px;
  padding-bottom: 60px;

  h3 {
    margin-top: 0;
    margin-bottom: 10px;

    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  &-icon {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 768px) {
  .dignity-list {
    display: flex;
    flex-wrap: wrap;
  }

  .item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

.dignity-par {
  color: #757575;

  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0px;

  :not(:last-child) {
    margin-bottom: 30px;
  }
}

.icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
}
