.dignity {
  padding-top: 95px;
  padding-bottom: 95px;

  h3 {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  &-icon {
    width: 70px;
    height: 70px;
  }
}

.dignity-list {
  display: flex;

  .item {
    width: 270px;
  }

  .item:not(:last-child) {
    margin-right: 30px;
  }
}

.dignity-par {
  color: #757575;

  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;
}

.icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
}
