.portfolio-button {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  color: $primary-text-color;
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;

    transition: $tansition-hover;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.button-list {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;

  .item:not(:last-child) {
    margin-right: 8px;
  }
}
