.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-link {
  .item {
    border: 1px solid rgba(238, 238, 238, 1);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    .item {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    .item {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }
  }

  a {
    margin: 0;
    text-decoration: none;
  }

  h2 {
    margin: 0;

    color: $primary-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}

.portfolio-item {
  padding: 20px 24px;

  color: $primary-paragraph-color;

  font-size: 16px;
  line-height: 1.88;

  p {
    margin: 0;
  }
}
