.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;

  h2 {
    margin: 0 0 50px 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17x;
    text-align: center;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}

.team-list {
  display: flex;

  .item {
    padding-bottom: 30px;

    background-color: $primary-white-color;

    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-par {
  margin-top: 0;
  margin-bottom: 16px;

  color: #757575;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: $social-link-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;

    transition: $tansition-hover;
  }
}

.social-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;

  &:hover {
    fill: $primary-white-color;

    transition: $tansition-hover;
  }
}
